body {
  margin: 0;
  font-family: sans-serif;
}

/* Game canvas wrapper */
#gameArea {
  background-color: gray;
  color: white;
  height: 100vh;
  /* min-height: 784px;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* HTML Canvas Element */
#gameWorld {
  image-rendering: pixelated;
  /* max-width: 100%;
  max-height: 100%; */
  width: auto;
  height: auto;
}
